.Sidebar {
  width: 220px;
  height: 100vh;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 2px 0 10px rgba(138, 11, 24, 0.1);
  background-color: rgb(50, 162, 162);
   
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
   position :fixed; 
 top: 0;
  left: 0;           
  z-index: 1000;
  
}
.mod-sid{
  background-color: rgb(15, 100, 15);

}

.Sidebar .nav-link:hover {
  border-radius: 10px;
}
